<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<behaviors>
		<serviceBehaviors>
			<behavior name="CalculatorServiceBehavior">
				<!-- WARNING: Setting includeExceptionDetailInFaults = "True" could result in leaking secured server information to the client.-->
				<!-- Please set this to false when deploying -->
				<serviceDebug includeExceptionDetailInFaults="True" httpHelpPageEnabled="True"/>
			</behavior>
		</serviceBehaviors>
	</behaviors>
</configuration>